<% for(var i=0; i < products.length; i++) { %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= products[i].name %></td>
    <td><%= products[i].quantity %></td>
    <td><%= products[i].price %></td>
    <td><%= products[i].supplier %></td>
    <td>
      <a href="/update-product?id=<%= products[i]._id %>" class="btn border-shadow update">
        <span class="">Add</span>
      </a>

      <a href="#" class="btn border-shadow sell" data-id =<%= products[i]._id %>>
        <span class="">Sell</span>
      </a>
      <a href="#" class="btn border-shadow delete" data-id =<%= products[i]._id %>>
        <span class=""><i class="fas fa-trash"></i></span>
      </a>
    </td>
  </tr>
  <% } %>
  